<h1 style="color:darkgreen"> New Comic</h1>
<form method="post">
    <label>Id Comic</label>
    <input class="form-control" type="text" name="idComic" required />
    <label>Nombre</label>
    <input class="form-control" type="text" name="nombre" required />
    <label>Imagen</label>
    <input class="form-control" type="text" name="imagen" required />
    <label>Descripcion</label>
    <input class="form-control" type="text" name="descripcion" required />
    <button class="btn btn-info">
        Create
    </button>
</form>